<!-- 跳转屏蔽 -->
<meta name="referrer" content="no-referrer"/>
<html>

<head>
    <title>
        2021年佛山市中考信息管理系统
    </title>
    <script type="text/javascript" src="/static/js/md5.js"></script>
    <!-- 跳转屏蔽,手机端自适应 -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="/static/js/tripledes.js"></script>
    <script type="text/javascript" src="/static/js/mode-ecb.js"></script>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="shortcut icon" href="/static/image/favicon_blue32.ico">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <style type="text/css">
        .STYLE2 {
            text-align: right;
            font-size: 14px;
            color: Black;
            font-weight: bold;
        }

        body {
            background-color: #058FCD;
        }

        -->

        /*微信*/
        .weixin img {
            width: 150px;
        }
    </style>


</head>
<!-- 警告框 -->
<script>

</script>

<body>
<form method="POST">
    {{ form.hidden_tag() }}

    <table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%" align="center" valign="middle">
        <tr>
            <td width="100" align="center">
                <div class="weixin">
                    <img height="150" src="/static/picture/weixin.jpg">
                    <p>欢迎关注“佛山招考”微信公众号。</p>
                </div>
            </td>
            <td align="center" valign="middle">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td colspan="3"><img src="/static/picture/login_students_top1.jpg" width="747" height="48"
                                             border="0"></td>
                    </tr>
                    <tr>
                        <td colspan="3" style="background:url(/static/image/login_students_top2.jpg)" width="747"
                            height="150" border="0">
                            <font style="letter-spacing:8; padding-left:120px;padding-top:50px;margin:0px;valign:bottom;font-size:22pt;font-weight:bold;width:720;color:#FFFFFF;font-family:微软雅黑;">
                                &nbsp;
                                佛山市中考信息系统-注册</font>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3"><img src="/static/image/reg.png" width="747" height="56"
                                             border="0"></td>
                    </tr>
                    <tr>
                        <td colspan="3" style="background:url(/static/image/login_students_top4.jpg)" width="747"
                            height="205" border="0">
                            <table align="center">
                                <tr>
                                    <td height="173" align="center">
                                        <!--放登录框的内容-->
                                        {#                                        显示快闪信息#}
                                        {% for msg in get_flashed_messages() %}
                                            <p class="text-danger">{{ msg }}</p>
                                        {% endfor %}

                                        {#显示表单错误#}
                                        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                                            {% for error in field_errors %}
                                                <div class="alert alert-danger alert-dismissable">
                                                    <button type="button" class="close" data-dismiss="alert"
                                                            aria-hidden="true">
                                                        &times;
                                                    </button>
                                                    <strong>{{ form[field_name].label }}错误：</strong> {{ error }}
                                                </div>
                                            {% endfor %}
                                        {% endfor %}
                                        <!-- name是键 val是数值 -->
                                        <table>
                                            <tr>
                                                <td>
                                                    <div class="STYLE2">
                                                        <select>
                                                            <option>考生号</option>
                                                        </select>：
                                                    </div>
                                                </td>

                                                <!-- 考号 -->
                                                <td align="left">
                                                    {{ form.username(width="200",_name="userid",style="width:180px") }}
                                                </td>
                                                <td rowspan="4">

                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="STYLE2">邮&nbsp;&nbsp;箱 ：</div>
                                                </td>
                                                <!-- 密码 -->
                                                <td align="left">
                                                    {{ form.email(id="keyvalue",style="width:180px") }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="STYLE2">密&nbsp;&nbsp;码 ：</div>
                                                </td>
                                                <!-- 密码 -->
                                                <td align="left">
                                                    {{ form.password(id="keyvalue",_name="password",style="width:180px") }}
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <div class="STYLE2">再次输入密码:</div>
                                                </td>
                                                <!-- 密码 -->
                                                <td align="left">
                                                    {{ form.password2(id="keyvalue",_name="password",style="width:180px") }}
                                                </td>
                                            </tr>

                                            <tr>

                                                <td align="center" colspan="2">
                                                    <br/>
                                                    <!-- 登录按钮 -->
                                                    {{ form.submit(src="/static/picture/index_button_dl.png",type="image",width="62",height="27",style="cursor:pointer;") }}

                                                    <!-- 取消按钮 -->
                                                    <input src="/static/picture/index_button_qx.png" type="image"
                                                           width="62" height="27"
                                                           onclick="window.location.href='{{ url_for('main.index') }}'">
                                                    <br/>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" height="20">&nbsp;</td>
                                            </tr>
                                        </table>

                                        <div style="text-align: center">
                                            为了更好的体验效果，请使用chrome、火狐浏览器，其他浏览器请使用极速模式，不建议使用IE浏览器
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</form>

</body>

</html>
