<!-- 跳转屏蔽 -->
<meta name="referrer" content="no-referrer"/>
<html>

<head>
    <title>
        2021年佛山市中考信息管理系统
    </title>
    <script type="text/javascript" src="/static/js/md5.js"></script>

    <script type="text/javascript" src="/static/js/tripledes.js"></script>
    <script type="text/javascript" src="/static/js/mode-ecb.js"></script>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="shortcut icon" href="/static/image/favicon_blue32.ico">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <style type="text/css">
        .STYLE_TITLE {
            text-align: center;
            font-size: 36px;
            color: #000000;
            font-weight: bold;
        }

        .STYLE1 {
            font-size: 12px;
            color: #FFFFFF;
        }

        .STYLE2 {
            text-align: right;
            font-size: 14px;
            color: Black;
            font-weight: bold;
        }

        body {
            background-color: #058FCD;
        }

        .button {
            background-color: #AABEEA;
            padding-top: 1px;
            border: 1px ridge #5B7DC4;
            border-left: #5B7DC4 1px solid;
            border-right: #5B7DC4 1px solid;
            border-top: #5B7DC4 1px solid;
            border-bottom: #5B7DC4 1px solid;
            height: 22px;
            width: 70px;
            font-size: 13px;
            font-weight: bold;
            color: #ffffff;
            cursor: pointer;
        }

        -->

        /*微信*/
        .weixin img {
            width: 150px;
        }
    </style>


</head>
<!-- 警告框 -->
<script>

</script>

<body bgcolor="#058FCD" cellpadding="0" cellspacing="0">
<form method="POST">
    {{ form.hidden_tag() }}

    <table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%" align="center" valign="middle">
        <tr>
            <td width="100" align="center">
                <div class="weixin">
                    <img height="150" src="/static/picture/weixin.jpg">
                    <p>欢迎关注“佛山招考”微信公众号。</p>
                </div>
            </td>
            <td align="center" valign="middle">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td colspan="3"><img src="/static/picture/login_students_top1.jpg" width="747" height="48"
                                             border="0"></td>
                    </tr>
                    <tr>
                        <td colspan="3" style="background:url(/static/image/login_students_top2.jpg)" width="747"
                            height="150" border="0">
                            <font style="letter-spacing:8; padding-left:120px;padding-top:50px;margin:0px;valign:bottom;font-size:22pt;font-weight:bold;width:720;color:#FFFFFF;font-family:微软雅黑;">
                                &nbsp;
                                2021年佛山市中考信息管理系统</font>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3"><img src="/static/picture/login_students_top3.jpg" width="747" height="56"
                                             border="0"></td>
                    </tr>
                    <tr>
                        <td colspan="3" style="background:url(/static/image/login_students_top4.jpg)" width="747"
                            height="205" border="0">
                            <table align="center">
                                <tr>
                                    <td height="173" align="center">
                                        <!--放登录框的内容-->
                                        {% for msg in get_flashed_messages() %}
                                            <p>{{ msg }}</p>
                                        {% endfor %}

                                        {#显示表单错误#}
                                        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                                            {% for error in field_errors %}

                                                <strong>{{ form[field_name].label }}错误：</strong> {{ error }}

                                            {% endfor %}
                                        {% endfor %}
                                        <!-- name是键 val是数值 -->
                                        <table>
                                            <tr>
                                                <td>
                                                    <div class="STYLE2">
                                                        <select>
                                                            <option>考生号</option>
                                                        </select>：
                                                    </div>
                                                </td>

                                                <!-- 考号 -->
                                                <td align="left">
                                                    {{ form.email(width="200",_name="userid",style="width:180px") }}
                                                </td>
                                                <td rowspan="4">

                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="STYLE2">密&nbsp;&nbsp;码 ：</div>
                                                </td>
                                                <!-- 密码 -->
                                                <td align="left">
                                                    {{ form.password(id="keyvalue",_name="password",style="width:180px") }}
                                                </td>
                                            </tr>

                                            <tr>

                                                <td align="center" colspan="2">
                                                    <!-- 登录按钮 -->
                                                    {{ form.submit(class="btn btn-info btn-sm",type="submit") }}
                                                    <!-- 取消按钮 -->
                                                    <button src="/static/picture/index_button_qx.png" type="image"
                                                            width="62" height="27"
                                                            onclick="window.location.href='{{ url_for('main.index') }}'"
                                                            class="btn btn-info btn-sm">
                                                        返回
                                                    </button>
                                                    <button type="button" class="btn btn-info btn-sm" onclick="window.location.href='{{ url_for('auth.reg') }}'">注册</button>
                                                    <br />
                                                    {{ form.remember_me.label }}{{ form.remember_me() }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" height="20">&nbsp;</td>
                                            </tr>
                                        </table>

                                        <div style="text-align: center">
                                            为了更好的体验效果，请使用chrome、火狐浏览器，其他浏览器请使用极速模式，不建议使用IE浏览器
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</form>

</body>

</html>
