{% extends "base.html" %}
{% block body %}
    <body>
    <div class="container">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="text-center">
                    <img id="head-img" style="display: none;" src="https://q1.qlogo.cn/g?b=qq&nk=2734184475&s=640"
                         class="img-circle" alt="Cinque Terre" width="50" height="50">树莓派服务
                </h2>
            </div>

            <div class="panel-body">
                <ul class="list-group text-center" style="font-size: 20px;">
                    <li class="list-group-item">
                        <a href="{{ url_for('rpi.temp') }}">
                            <span class="text-primary">树莓派温度上报</span>
                            <button type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-share">跳转到</span>
                            </button>
                        </a>
                    </li>

                    <li class="list-group-item">
                        <a href="{{ url_for('rpi.pics') }}">
                            <span class="text-primary">树莓派图片预览</span>
                            <button type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-share">跳转到</span>
                            </button>
                        </a>
                    </li>

                    <li class="list-group-item">
                        <a href="{{ url_for('rpi.frp') }}">
                            <span class="text-primary">树莓派Frpc编辑</span>
                            <button type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-share">跳转到</span>
                            </button>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    </body>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {
            $('#head-img').show(1000);
        });
    </script>
{% endblock %}
{% block css %}
    <style>
        {#        自适应背景#}
        body {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
            background: url(/static/image/bg.jpeg) no-repeat center 0px;
            background-size: cover;


            background-position: center 0;
            background-repeat: no-repeat;
            background-attachment: fixed;
            -webkit-background-size: cover;
            -o-background-size: cover;
            -moz-background-size: cover;
            -ms-background-size: cover;
        }

        .container {
            opacity: 0.8;
        }
    </style>
{% endblock %}